Repository hackforla/VRMS, pull requests merged in 2020-11, with the labels that each got.

#363 Fix event listing page
  client/src/pages/Events.js
Labels: Front End

#373 Launch client-mvp-04
  client-mvp-04/package.json
  client-mvp-04/src/App.js
  client-mvp-04/src/App.scss
  client-mvp-04/src/App.test.js
  client-mvp-04/src/assets/fonts/open-sans/opensans-italic.ttf
  client-mvp-04/src/assets/fonts/open-sans/opensans-italic.woff
  client-mvp-04/src/assets/fonts/open-sans/opensans-italic.woff2
  client-mvp-04/src/assets/images/icons/311.png
  client-mvp-04/src/assets/images/icons/confirm.svg
  client-mvp-04/src/assets/images/icons/github.png
  client-mvp-04/src/assets/images/icons/home.png
  client-mvp-04/src/assets/images/icons/home.svg
  client-mvp-04/src/assets/images/logo.svg
  client-mvp-04/src/components/common/button/button.js
  client-mvp-04/src/components/common/button/button.scss
  client-mvp-04/src/components/common/button/button.test.js
  client-mvp-04/src/components/common/footer/footer.js
  client-mvp-04/src/components/common/footer/footer.scss
  client-mvp-04/src/components/common/footer/footer.test.js
  client-mvp-04/src/components/common/header/header.js
  client-mvp-04/src/components/common/header/header.scss
  client-mvp-04/src/components/common/header/header.test.js
  client-mvp-04/src/components/common/link/link.js
  client-mvp-04/src/components/common/link/link.test.js
  client-mvp-04/src/components/dummy/dummy.js
  client-mvp-04/src/components/dummy/dummy.scss
  client-mvp-04/src/components/dummy/dummy.test.js
  client-mvp-04/src/components/error/error.js
  client-mvp-04/src/components/error/error.scss
  client-mvp-04/src/components/error/error.test.js
  client-mvp-04/src/components/home/home.js
  client-mvp-04/src/components/home/home.scss
  client-mvp-04/src/components/home/home.test.js
  client-mvp-04/src/reducers/authReducer.js
  client-mvp-04/src/routes/index.js
  client-mvp-04/src/sass/_main.scss
  client-mvp-04/src/sass/core/_base.scss
  client-mvp-04/src/sass/core/_fonts.scss
  client-mvp-04/src/sass/elements/_buttons.scss
  client-mvp-04/src/sass/elements/_inputs.scss
  client-mvp-04/src/sass/elements/_links.scss
  client-mvp-04/src/sass/elements/_menu.scss
  client-mvp-04/src/sass/elements/_tooltip.scss
  client-mvp-04/src/sass/variables/_colors.scss
  client-mvp-04/src/sass/variables/_elements.scss
  client-mvp-04/src/sass/variables/_typography.scss
  client-mvp-04/src/sass/variables/index.scss
  client-mvp-04/src/store/actions/authActions.js
  client-mvp-04/src/store/actions/types.js
  client-mvp-04/src/store/configureStore.js
  client-mvp-04/src/store/reducers/authReducer.js
  client-mvp-04/src/store/reducers/index.js
  client-mvp-04/src/store/store.js
  client-mvp-04/src/utils/uiKit/uiKit.js
  client-mvp-04/src/utils/uiKit/uiKit.scss
Labels: Front End, client-mvp-04

#380 Fixes for admin
  client/src/components/admin/dashboard/index.js
  client/src/components/admin/donutChartContainer.js
  client/src/pages/AdminLogin.js
Labels: Front End, client v0.3

#361 Refactor backend part 1
  backend/app.js
  backend/config/database.config.js
  backend/config/index.js
  backend/controllers/email.controller.js
  backend/controllers/email.controller.test.js
  backend/controllers/event.controller.js
  backend/controllers/event.controller.test.js
  backend/controllers/index.js
  backend/controllers/project.controller.js
  backend/controllers/project.controller.test.js
  backend/controllers/user.controller.js
  backend/controllers/user.controller.test.js
  backend/jest.setup.js
  backend/middleware/auth.middleware.js
  backend/middleware/index.js
  backend/middleware/user.middleware.js
  backend/models/answer.model.js
  backend/models/answer.test.js
  backend/models/checkIn.model.js
  backend/models/checkin.test.js
  backend/models/event.model.js
  backend/models/event.test.js
  backend/models/index.js
  backend/models/project.model.js
  backend/models/project.test.js
  backend/models/projectTeamMember.model.js
  backend/models/projectTeamMemer.test.js
  backend/models/question.model.js
  backend/models/question.test.js
  backend/models/recurringEvent.model.js
  backend/models/recurringEvent.test.js
  backend/models/role.model.js
  backend/models/timeTracker.model.js
  backend/models/user.model.js
  backend/models/user.test.js
  backend/routers/answers.router.js
  backend/routers/auth.router.js
  backend/routers/auth.router.test.js
  backend/routers/checkIns.router.js
  backend/routers/checkUser.router.js
  backend/routers/events.router.js
  backend/routers/events.router.test.js
  backend/routers/grantpermission.router.js
  backend/routers/projectTeamMembers.router.js
  backend/routers/projects.router.js
  backend/routers/projects.router.test.js
  backend/routers/questions.router.js
  backend/routers/recurringEvents.router.js
  backend/routers/slack.router.js
  backend/routers/success.router.js
  backend/routers/users.router.js
  backend/routers/users.router.test.js
  backend/server.js
  backend/setup-test.js
  backend/validators/index.js
  backend/validators/user.api.validator.js
Labels: Back End

#389 Testing changes from a non-member
  backend/README.md
Labels: DO NOT MERGE

#391 Add mvp docker container
  client-mvp-04/.dockerignore
  client-mvp-04/Dockerfile.client
  client/Dockerfile.client
  docker-compose.yml
  nginx/default.conf
Labels: Front End, client-mvp-04

#401 Implement Sign In page
  client-mvp-04/src/assets/fonts/open-sans/opensans-italic-bold.ttf
  client-mvp-04/src/assets/fonts/open-sans/opensans-italic-bold.woff
  client-mvp-04/src/assets/fonts/open-sans/opensans-italic-bold.woff2
  client-mvp-04/src/assets/fonts/open-sans/opensans-italic-semibold.ttf
  client-mvp-04/src/assets/fonts/open-sans/opensans-italic-semibold.woff
  client-mvp-04/src/assets/fonts/open-sans/opensans-italic-semibold.woff2
  client-mvp-04/src/components/common/button/button.js
  client-mvp-04/src/components/common/errorMessage/errorMessage.js
  client-mvp-04/src/components/common/errorMessage/errorMessage.test.js
  client-mvp-04/src/components/common/input/input.js
  client-mvp-04/src/components/common/input/input.test.js
  client-mvp-04/src/components/common/title/title.js
  client-mvp-04/src/components/common/title/title.scss
  client-mvp-04/src/components/common/title/title.test.js
  client-mvp-04/src/components/home/home.js
  client-mvp-04/src/components/home/home.scss
  client-mvp-04/src/components/home/home.test.js
  client-mvp-04/src/components/login/login.scss
  client-mvp-04/src/components/login/loginContainer.js
  client-mvp-04/src/components/login/loginView.js
  client-mvp-04/src/components/login/loginView.test.js
  client-mvp-04/src/routes/index.js
  client-mvp-04/src/sass/_main.scss
  client-mvp-04/src/sass/core/_base.scss
  client-mvp-04/src/sass/core/_fonts.scss
  client-mvp-04/src/sass/elements/_buttons.scss
  client-mvp-04/src/sass/elements/_error.scss
  client-mvp-04/src/sass/elements/_inputs.scss
  client-mvp-04/src/services/user.service.js
  client-mvp-04/src/setupProxy.js
  client-mvp-04/src/store/actions/authActions.js
  client-mvp-04/src/store/actions/types.js
  client-mvp-04/src/store/actions/userActions.js
  client-mvp-04/src/store/reducers/authReducer.js
  client-mvp-04/src/store/reducers/index.js
  client-mvp-04/src/store/reducers/userReducer.js
  client-mvp-04/src/utils/uiKit/uiKit.js
  client-mvp-04/src/utils/uiKit/uiKit.scss
  client-mvp-04/src/utils/validation.js
Labels: Front End, client-mvp-04

#419 Remove unused action
  .github/ISSUE_TEMPLATE/workflows/main.yaml
Labels: github_actions

#416 Cover LoginContainer, UserService, and EmailValidation functionality with tests
  client-mvp-04/package.json
  client-mvp-04/src/components/login/loginContainer.js
  client-mvp-04/src/components/login/loginContainer.test.js
  client-mvp-04/src/components/login/loginView.js
  client-mvp-04/src/components/login/loginView.test.js
  client-mvp-04/src/services/user.service.js
  client-mvp-04/src/services/user.service.test.js
  client-mvp-04/src/setupTests.js
  client-mvp-04/src/store/actions/types.js
  client-mvp-04/src/utils/validation/validation.js
  client-mvp-04/src/utils/validation/validation.test.js
Labels: Front End, MVP v0.4

#426 Fix for client-mvp
  client-mvp-04/src/components/createAccount/createAccountContainer.js
Labels: Front End, MVP v0.4

#432 Implement magic link auth for client-mvp-04
  backend/controllers/user.controller.js
  backend/globalConfig.json
  backend/middleware/user.middleware.js
  backend/routers/auth.router.test.js
  client-mvp-04/package.json
  client-mvp-04/src/App.scss
  client-mvp-04/src/assets/fonts/open-sans/opensans-bold-italic.ttf
  client-mvp-04/src/assets/fonts/open-sans/opensans-bold-italic.woff
  client-mvp-04/src/assets/fonts/open-sans/opensans-bold-italic.woff2
  client-mvp-04/src/assets/fonts/open-sans/opensans-semibold-italic.ttf
  client-mvp-04/src/assets/fonts/open-sans/opensans-semibold-italic.woff
  client-mvp-04/src/assets/fonts/open-sans/opensans-semibold-italic.woff2
  client-mvp-04/src/components/auth/auth.js
  client-mvp-04/src/components/auth/auth.scss
  client-mvp-04/src/components/auth/handleAuth.js
  client-mvp-04/src/components/createAccount/createAccountContainer.js
  client-mvp-04/src/components/dashboard/dashboard.js
  client-mvp-04/src/components/dashboard/dashboard.scss
  client-mvp-04/src/components/dummy/dummy.js
  client-mvp-04/src/components/dummy/dummy.scss
  client-mvp-04/src/components/error/error.js
  client-mvp-04/src/components/error/error.scss
  client-mvp-04/src/components/home/home.js
  client-mvp-04/src/components/home/home.scss
  client-mvp-04/src/components/login/login.scss
  client-mvp-04/src/components/login/loginContainer.js
  client-mvp-04/src/components/login/loginContainer.test.js
  client-mvp-04/src/components/login/loginView.js
  client-mvp-04/src/routes/index.js
  client-mvp-04/src/sass/core/_base.scss
  client-mvp-04/src/sass/core/_fonts.scss
  client-mvp-04/src/sass/core/_keyframes.scss
  client-mvp-04/src/sass/core/_mixins.scss
  client-mvp-04/src/sass/elements/_error.scss
  client-mvp-04/src/services/user.service.js
  client-mvp-04/src/services/user.service.test.js
  client-mvp-04/src/store/actions/types.js
  client-mvp-04/src/store/actions/userActions.js
  client-mvp-04/src/store/reducers/userReducer.js
  client-mvp-04/src/utils/endpoints.js
Labels: Front End, MVP v0.4 - dev

#436 Update magic link email text
  backend/controllers/email.controller.js
  backend/controllers/user.controller.js
Labels: Back End, MVP v0.4 - dev
