Repository hackforla/VRMS, pull requests merged in 2021-05, with the labels that each got.

#536 Fix scrolling issue in the DEV UI KIT web page
  client-mvp-04/src/utils/uiKit/uiKit.scss
Labels: Bug, Front End, MVP v0.4 - dev

#497 Implement a service for operating Location entity
  backend/services/index.js
  backend/services/location.service.js
  backend/services/location.service.test.js
Labels: Back End, MVP v0.4 - dev

#492 Magic link / Add auth origin payload
  backend/controllers/email.controller.js
  backend/controllers/user.controller.js
  backend/routers/checkUser.router.js
  client-mvp-04/.gitignore
  client-mvp-04/src/components/auth/auth.js
  client-mvp-04/src/components/auth/handleAuth.js
  client-mvp-04/src/components/createAccount/createAccountContainer.js
  client-mvp-04/src/components/login/loginContainer.js
  client-mvp-04/src/services/user.service.js
  client-mvp-04/src/store/actions/authActions.js
  client-mvp-04/src/store/reducers/authReducer.js
  client-mvp-04/src/utils/constants/index.js
  client/src/pages/AdminLogin.js
  client/src/pages/HandleAuth.js
Labels: Back End, Front End, MVP v0.4 - dev

#576 Refactor admin login component
  client/src/App.js
  client/src/components/auth/Auth.js
  client/src/components/auth/HandleAuth.js
  client/src/pages/HandleAuth.js
  client/src/services/user.service.js
  client/src/utils/endpoints.js
Labels: Front End, v0.3
