Repository hackforla/VRMS, pull requests merged in 2021-03, with the labels that each got.

#494 Implement a service for operating TimeZone entity #459
  backend/services/index.js
  backend/services/timeZone.service.js
  backend/services/timeZone.service.test.js
Labels: Back End, MVP v0.4 - dev

#498 Create search input as a new UI element
  client-mvp-04/src/assets/images/icons/searchIcon.svg
  client-mvp-04/src/sass/elements/_inputs.scss
  client-mvp-04/src/sass/variables/_colors.scss
  client-mvp-04/src/utils/uiKit/uiKit.js
Labels: Front End, MVP v0.4 - dev

#503 Add fields to user and project models
  backend/models/project.model.js
  backend/models/user.model.js
Labels: Back End, v0.3
