Repository hackforla/VRMS, pull requests merged in 2023-03, with the labels that each got.

#1309 Fix frontend warnings, minor tweaks
  backend/workers/createRecurringEvents.js
  backend/yarn.lock
  client/src/components/Leaderboard.js
  client/src/components/Navbar.js
  client/src/components/ReadyEvents.js
  client/src/components/admin/dashboard/index.js
  client/src/components/admin/donutChartContainer.js
  client/src/components/admin/reports/index.js
  client/src/components/auth/Auth.js
  client/src/components/auth/HandleAuth.js
  client/src/components/dashboard/AttendeeTable.js
  client/src/components/dashboard/RosterTable.js
  client/src/components/manageProjects/editProject.js
  client/src/components/manageProjects/editableField.js
  client/src/components/manageProjects/eventForm.js
  client/src/components/manageProjects/selectProject.js
  client/src/components/manageProjects/utilities/addDurationToTime.js
  client/src/components/presentational/newUserForm.js
  client/src/components/presentational/returnUserForm.js
  client/src/components/presentational/upcomingEvent.js
  client/src/context/authContext.js
  client/src/pages/CheckInForm.js
  client/src/pages/EmailSent.js
  client/src/pages/Event.js
  client/src/pages/Events.js
  client/src/pages/Home.js
  client/src/pages/ProjectLeaderDashboard.js
  client/src/pages/ReturningUser.js
  client/src/pages/Success.js
  client/src/pages/UserDashboard.js
  client/src/pages/UserProfile.js
  client/src/services/projectTeamMember-api-service.js
  client/yarn.lock
Labels: role: Front End, size: 2pt, feature: eslint warnings

#1313 Fix github action ubuntu brownout
  .github/workflows/all-PRs.yaml
Labels: Bug, size: 1pt, role: devops, feature: github actions

#1308 Add material UI and start to create a theme based on style guide
  client/package.json
  client/src/App.js
  client/src/components/manageProjects/selectProject.js
  client/src/index.scss
  client/src/theme.js
  client/yarn.lock
Labels: role: Front End, size: 1pt, p-feature: Buttons

#1300 Github Actions: Adding helpful comment with commands for PR review
  .github/workflows/pr-instructions.yml
  .github/workflows/wr-pr-instructions.yml
  github-actions/pr-instructions/create-instruction.js
  github-actions/pr-instructions/post-comment.js
  github-actions/pr-instructions/pr-instructions-template.md
Labels: role: Back End, size: 2pt, feature: github actions

#1326 Upgrade react scripts
  .eslintrc
  client/package.json
  client/src/assets/bg-image-pier.jpg
  client/src/assets/bg-image-skyline.jpg
  client/src/assets/bg-image-sunset.jpg
  client/src/assets/hflalogo.png
  client/src/assets/projectleaderdashboard/check.png
  client/src/assets/projectleaderdashboard/github.png
  client/src/assets/projectleaderdashboard/googledrive.png
  client/src/assets/projectleaderdashboard/slack.png
  client/src/index.scss
  client/yarn.lock
Labels: role: Front End, size: 1pt, feature: package update

#1332 Add Git Pull Steps #1328
  CONTRIBUTING.md
Labels: Documentation, role: Front End, role: Back End, size: 1pt

#1317 Update navbar 1307
  client/package.json
  client/src/App.js
  client/src/components/Navbar.js
  client/src/components/manageProjects/selectProject.js
  client/src/index.scss
  client/src/svg/hflalogo.png
  client/src/svg/hflalogo.svg
  client/yarn.lock
Labels: role: Front End, size: 3pt

#1325 Creating a new project form
  client/src/App.js
  client/src/api/ProjectApiService.js
  client/src/components/ProjectForm.js
  client/src/components/manageProjects/selectProject.js
  client/src/components/user-admin/AddNewProject.js
  client/src/pages/UserAdmin.js
  client/src/svg/PlusIcon.svg
  client/src/theme.js
Labels: role: Front End, size: 2pt, p-feature: Projects

#1339 navbar changes v1 #1338
  client/src/components/Navbar.js
Labels: role: Front End, size: 1pt, p-feature: Navigation, time-sensitive

#1340 Streamline user management
  client/src/components/user-admin/EditUsers.js
  client/src/components/user-admin/UserManagement.js
  client/src/pages/UserAdmin.js
Labels: role: Front End, size: 1pt, p-feature: Roster

#1343 Implement project list page component
  client/src/App.js
  client/src/pages/ManageProjects.js
  client/src/pages/ProjectList.js
  client/src/theme.js
Labels: role: Front End, size: 2pt, p-feature: Projects

#1342 Upgrade react scripts (again)
  .babelrc
  .eslintrc
  client/.eslintrc.json
  client/package.json
  client/src/assets/bg-image-pier.jpg
  client/src/assets/bg-image-skyline.jpg
  client/src/assets/bg-image-sunset.jpg
  client/src/assets/hflalogo.png
  client/src/assets/projectleaderdashboard/check.png
  client/src/assets/projectleaderdashboard/github.png
  client/src/assets/projectleaderdashboard/googledrive.png
  client/src/assets/projectleaderdashboard/slack.png
  client/src/index.scss
  client/yarn.lock
  package.json
  yarn.lock
Labels: role: Front End, size: 3pt, feature: package update

#1356 Remove default initial value for name input of event form
  client/src/components/manageProjects/createNewEvent.js
Labels: role: Front End, size: 1pt, p-feature: Events

#1357 Fix meeting check in
  backend/workers/createRecurringEvents.js
Labels: role: Back End, size: 1pt, p-feature: Events, time-sensitive

#1359 fix projects sort bug
  client/src/components/manageProjects/selectProject.js
  client/src/components/user-admin/EditUsers.js
  client/src/pages/ProjectList.js
Labels: role: Front End, size: 1pt, p-feature: Projects

#1360 feat: Create SecretPassword page
  client/src/App.js
  client/src/pages/SecretPassword.js
Labels: role: Front End, Feature: Onboarding - p1, size: 2pt

#1372 Update secret password
  client/src/pages/SecretPassword.js
Labels: role: Front End, Feature: Onboarding - p1, size: 1pt

#1361 Add welcome landing page with wiki link for admin and project managers
  client/src/App.js
  client/src/components/Navbar.js
  client/src/context/authContext.js
  client/src/pages/UserWelcome.js
  client/src/utils/authUtils.js
Labels: role: Front End, size: 1pt, p-feature: Navigation
